.menuContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--colour-orange1);
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: -1;
}