.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    box-sizing: border-box;
}

.selectedType {
    background: rgba(255, 255, 255, 0.2) !important;
}

.topButtons {
    margin-bottom: 0.75ch;
}

.topButtons>button {
    border-radius: 14px;
    border: black 3px solid;
    padding: 0.5ch;
    font: inherit;
    font-size: 0.5rem;
    margin-right: 1ch;
    background: transparent;
    transition: 0.3s;
}

.explorer {
    border: 3px black solid;
    border-radius: 19px;
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5ch;
    align-items: end;
    font-size: 0.75rem;
    padding: 1ch 1ch;
    box-sizing: border-box;
}

.controls {
    font-size: 0.58rem;
    text-align: center;
}

.buttons>button{
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 100;
}

.data {
    height: 53vh;
    border-top: 2px black solid;
}

.iframe {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0 0 19px 19px;
}