@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
  font-family: 'Bree Serif', serif;
  line-height: 1.5;
  font-size: xx-large;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colour-orange1 : #FF7535;
  --colour-orange2: #ff9a2c;
  --colour-orange3: #ffe238;
  --colour-orange4: #e79342 ;
  --colour-orange5: #ffd540 ;
  --colour-orange6: #da9627 ;

  color: black;
}

body {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
}